<p>
  <label>City:</label>
  <select name="city" id="city">
    <option value="Kolkata;22.5726;88.3639">Kolkata</option>
    <option value="Howrah;22.5958;88.2636">Howrah</option>
    <option value="Digha;21.6222;87.5066">Digha</option>
    <option value="Bardhaman;23.2324;87.8615">Bardhaman</option>
    <option value="Basirhat;22.6591;88.8572">Basirhat</option>
  </select>
</p>