
<%if (noCity) { %>
  <p>Admin has not selected a city yet!</p>
<% } %>

Select a city to check if it is within 100Km of default City selected by admin.
<form method="post" action="/city/check-city">
  
  <%- include('cities') %>

<p>
  <input type="submit" value="Check">
</p>